.centralizar {
  width: 50%;
  margin: 80px auto;
}
.titulo{
  text-align: center;
  color: #5F9EA0;
}

.espacamento{
margin-top: 20px;
}

.right-align {
  float: right;
  margin-top: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 15px;
}

.header{
  text-align: center;
}

ion-button {
  --background: #5F9EA0;
  --color: #fff;
}