<form [formGroup]="oleosFormGroup">

  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true" class="header">
      <ion-toolbar >
        <ion-title class="titulo">
         {{editarOleo === false? 'Cadastre um novo Óleo Essencial'  : 'Editar Óleo Essencial'}}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid class="centralizar">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input placeholder="Nome" id="propriedades" formControlName="nome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Descrição</ion-label>
            <ion-textarea placeholder="Descrição" id="descricao" formControlName="descricao" rows="6" cols="20"></ion-textarea>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Como usar</ion-label>
         
            <ion-textarea placeholder="Como usar" id="comoUsar" formControlName="comoUsar"  rows="6" cols="20" ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-footer class="footer">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="medium" href="/home">Voltar</ion-button>
              <ion-button (click)="acao()" class="botao">Salvar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
   
    </ion-footer>
  </ion-content>
</form>