

  <ion-content>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Como usar</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oleo of oleos; let i = index;">
          <td style="width:120px;">{{oleo.nome}}</td>
          <td>{{oleo.descricao}}</td>
          <td>{{oleo.comoUsar}}</td>
          <td><ion-icon name="create-outline" class="ion" title="Editar"  routerLink="/cadastro/editar=true/{{oleo._id}}"></ion-icon>
          <ion-icon name="trash-outline" class="ion"  title="Excluir" (click)="presentAlertConfirmacao(oleo._id)"></ion-icon></td>
        </tr>
      </tbody>
    </table>
  </ion-content>