table {
  width: 80%;
  border-collapse: collapse;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

th, td {
  padding: 10px;
}

th {
  background-color: #5F9EA0 !important;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.ion{
  cursor: pointer;
  color: #5F9EA0;
}

.table-container {
  height: 100%;
  width: 80%;
}

ion-content div {
  max-width: 1200px; 
  margin: 0 auto; 
}