.right-align{
  float: right;
  margin-bottom: 15px;
}

.titulo{
 margin-top: 15px;
 color: #5F9EA0;
}

.imgHome {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

ion-button {
  --background: #5F9EA0;
  --color: #fff;
}