<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Aroma - Óleos Essenciais
      <ion-button class="right-align" href="/cadastro" >Cadastrar</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <img decoding="async" src="assets/img/essential-oils.jpg" height="550px" width="650px"class="imgHome" title="Aroma" style="margin-top: 50px;">

  <app-detalhe></app-detalhe>

</ion-content>